/* CSSTidy 1.3: Sun, 10 Jan 2010 11:32:51 -0700 */
#contentPanel
{
  margin:0 auto;
  padding:33px 0 0;
  width:934px;
}

#contentWrap
{
  background:#fffcd5 url(images/contentBg.jpg) repeat-x;
  float:left;
  margin:0;
  padding:0;
  width:100%;
  z-index: -20;
}

#footNav
{
  float:left;
  margin:20px 0 0;
  padding:0;
  width:934px;
}

#footNav ul
{
  display:block;
  margin:0 auto;
  padding:0;
  width:558px;
}

#footNav ul li .blank
{
  color:#e5df85;
  float:left;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  margin:3px 0 0;
  padding:0 10px;
  width:auto;
}

#footNav ul li a
{
  color:#e5df85;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  margin:0;
  padding:0;
  text-decoration:none;
}

#footNav ul li a:hover,#footPanel p a:hover
{
  text-decoration:underline;
}

#footNav ul li,#validation ul li
{
  display:block;
  float:left;
  margin:0;
  padding:0;
  width:auto;
}

#footPanel
{
  margin:0 auto;
  padding:0;
  width:934px;
}

#footPanel p
{
  color:#fffcd5;
  float:left;
  font-family:Arial;
  font-size:11px;
  font-weight:700;
  line-height:15px;
  margin:12px 0 0;
  padding:0;
  text-align:center;
  width:934px;
}

#footPanel p a
{
  color:#e5df85;
  text-decoration:none;
}

#footWrap
{
  float:left;
  margin:0;
  padding:0 0 26px;
  width:100%;
}

#headWrap
{
  background:url(images/headBg.jpg) repeat-x;
  float:left;
  height:315px;
  margin:0;
  padding:0;
  width:100%;
}

#headpanel
{
  height:315px;
  margin:0 auto;
  padding:0;
  width:934px;
}

#leftPanel
{
  border-right:#c6d09d dashed 1px;
  float:left;
  margin:0;
  padding:0 0 34px;
  width:259px;
}

#leftPanel .toplinks
{
  float:left;
  margin:0;
  padding:0;
  width:259px;
}

#leftPanel .toplinks h2,#loginPanel h2,#projectsPanel h2
{
  color:#000;
  float:left;
  font-family:Georgia;
  font-size:20px;
  font-weight:400;
  line-height:24px;
  margin:0;
  padding:0;
  width:224px;
}

#leftPanel .toplinks h3,#loginPanel h3
{
  color:#005b7f;
  float:left;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  margin:5px 0 0;
  padding:0;
  width:224px;
}

#leftPanel .toplinks p
{
  color:#252525;
  float:left;
  font-family:Arial;
  font-size:12px;
  line-height:16px;
  margin:10px 0 0;
  padding:0;
  width:224px;
}

#leftPanel .toplinks ul
{
  display:block;
  float:left;
  margin:8px 0 0;
  padding:0;
  width:224px;
}

#leftPanel .toplinks ul li
{
  display:block;
  float:left;
  margin:0;
  padding:0;
  width:224px;
}

#leftPanel .toplinks ul li a
{
  background:url(images/lisstyle.jpg) no-repeat 0 -18px;
  border-bottom:#c6d09d solid 1px;
  color:#363636;
  float:left;
  font-family:Arial;
  font-size:12px;
  height:19px;
  line-height:16px;
  margin:0;
  padding:0 0 0 19px;
  text-decoration:none;
  width:205px;
}

#leftPanel .toplinks ul li a.bottom
{
  background:url(images/lisstyle.jpg) no-repeat 0 -18px;
  border-bottom:0;
  color:#363636;
  float:left;
  font-family:Arial;
  font-size:12px;
  height:19px;
  line-height:16px;
  margin:0;
  padding:0 0 0 19px;
  text-decoration:none;
  width:205px;
}

#leftPanel .toplinks ul li a:hover,#leftPanel .toplinks ul li a.bottom:hover
{
  background:#FFF url(images/lisstyle.jpg) no-repeat;
  color:#c46706;
}

#loginPanel
{
  float:left;
  margin:31px 0 0;
  padding:0;
  width:224px;
}

#loginPanel .blank
{
  float:left;
  height:10px;
  margin:0;
  padding:0;
  width:11px;
}

#loginPanel .login
{
  background:#FFF;
  border:#bdbcbd solid 1px;
  color:#000;
  float:left;
  font-family:Arial;
  font-size:10px;
  height:16px;
  line-height:14px;
  margin:5px 0 0 5px;
  padding:0;
  text-align:center;
  text-decoration:none;
  width:55px;
}

#loginPanel .login:hover,#projectsPanel a:hover,#middlePanel .top a:hover
{
  background:#CCC;
}

#loginPanel input
{
  background:#f3efc0;
  border:0;
  color:#363636;
  float:left;
  font-family:Arial;
  font-size:10px;
  height:17px;
  margin:11px 0 0;
  padding:2px 0 0 5px;
  width:98px;
}

#loginPanel p
{
  color:#252525;
  float:left;
  font-family:Arial;
  font-size:11px;
  font-weight:700;
  margin:9px 0 0;
  padding:0 0 0 6px;
  width:218px;
}

#loginPanel p a
{
  color:#d25930;
  text-decoration:none;
}

#logo
{
  background:url(images/logo.jpg) no-repeat;
  float:left;
  height:53px;
  margin:31px 0 0;
  padding:0;
  width:235px;
}

#logo h1
{
  color:#FFF;
  font-family:Tahoma;
  font-size:46px;
  font-weight:700;
  line-height:50px;
  margin:0;
  padding:0;
}

#menu
{
  float:left;
  margin:153px 0 0;
  padding:0;
  width:934px;
}

#menu ul
{
  float:left;
  margin:0;
  padding:0;
  width:934px;
  z-index: 1000;
}

#menu ul li
{
  display:block;
  float:left;
  margin:0;
  padding:0;
  width:auto;
  margin-left: 10px;
}

#menu ul li a
{
  color:#e5df85;
  float:left;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  height:28px;
  line-height:18px;
  margin:0;
  padding:0;
  text-decoration:none;
  width:auto;
}

#menu ul li a:hover
{
  color:#FFF;
}
#menu ul li ul{
    display: none;
}
#menu ul li:hover{
    position: relative;
}
#menu ul li:hover ul{
    position: absolute;
    top: 20px;
    display: block;
    font-family: Arial;
}
#menu ul li:hover ul li
{
    float: none;
}
#menu ul li:hover ul li a
{
   color: #000;
}
#menu ul li:hover ul li a:hover
{
   color: #fff;
}
#middlePanel
{
  border-right:#c6d09d dashed 1px;
  float:left;
  margin:0;
  padding:0 0 38px 32px;
  width:388px;
}

#middlePanel .bottom
{
  float:left;
  margin:32px 0 0;
  padding:0;
  width:358px;
}

#middlePanel .bottom .pic3
{
  background:url(images/pic3.jpg) no-repeat;
  float:left;
  height:109px;
  margin:19px 0 0;
  padding:0;
  width:358px;
}

#middlePanel .bottom h2
{
  color:#000;
  float:left;
  font-family:Georgia;
  font-size:25px;
  font-weight:400;
  line-height:29px;
  margin:0;
  padding:0 0 0 3px;
  width:350px;
}

#middlePanel .bottom h3
{
  color:#005b7f;
  float:left;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  margin:12px 0 0;
  padding:0 0 0 3px;
  width:350px;
}

#middlePanel .bottom ul
{
  display:block;
  float:left;
  margin:16px 0 0;
  padding:0;
  width:349px;
}

#middlePanel .bottom ul li
{
  display:block;
  float:left;
  margin:0;
  padding:0;
  width:349px;
}

#middlePanel .bottom ul li a
{
  background:url(images/liststyle.jpg) no-repeat;
  border-bottom:#8bb5a2 dashed 1px;
  color:#1e2316;
  float:left;
  font-family:Arial;
  font-size:12px;
  height:24px;
  line-height:20px;
  margin:0;
  padding:0 0 0 15px;
  text-decoration:none;
  width:334px;
}

#middlePanel .bottom ul li a.bottom
{
  background:url(images/liststyle.jpg) no-repeat;
  border-bottom:0;
  color:#1e2316;
  float:left;
  font-family:Arial;
  font-size:12px;
  height:24px;
  line-height:20px;
  margin:0;
  padding:0 0 0 15px;
  text-decoration:none;
  width:334px;
}

#middlePanel .bottom ul li a:hover,#middlePanel .bottom ul li a.bottom:hover
{
  background:url(images/liststyle.jpg) no-repeat 0 -24px;
  color:#c46706;
}

#middlePanel .top
{
  float:left;
  margin:0;
  padding:0 0 0 3px;
  width:350px;
}

#middlePanel .top a
{
  background:#FFF;
  border:#bdbcbd solid 1px;
  color:#000;
  float:left;
  font-family:Arial;
  font-size:10px;
  height:16px;
  line-height:14px;
  margin:10px 0 0;
  padding:0;
  text-align:center;
  text-decoration:none;
  width:75px;
}

#middlePanel .top h2
{
  color:#000;
  float:left;
  font-family:Georgia;
  font-size:28px;
  font-weight:400;
  line-height:32px;
  margin:0;
  padding:0;
  width:350px;
}

#middlePanel .top h3
{
  color:#005b7f;
  float:left;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  margin:9px 0 0;
  padding:0;
  width:350px;
}

#middlePanel .top p
{
  color:#363636;
  float:left;
  font-family:Arial;
  font-size:12px;
  line-height:16px;
  margin:16px 0 0;
  padding:0;
  width:350px;
}

#middlePanel .top p span
{
  color:#c46706;
  font-weight:700;
}

#projectsPanel
{
  float:left;
  margin:42px 0 0;
  padding:0;
  width:230px;
}

#projectsPanel .blank
{
  float:left;
  height:10px;
  margin:10px 0 0;
  padding:0;
  width:20px;
}

#projectsPanel .pic1
{
  background:url(images/pic1.jpg) no-repeat;
  float:left;
  height:83px;
  margin:10px 0 0;
  padding:0;
  width:105px;
}

#projectsPanel .pic2
{
  background:url(images/pic2.jpg) no-repeat;
  float:left;
  height:83px;
  margin:10px 0 0;
  padding:0;
  width:105px;
}

#projectsPanel a
{
  background:#FFF;
  border:#bdbcbd solid 1px;
  color:#000;
  float:right;
  font-family:Arial;
  font-size:10px;
  height:16px;
  line-height:14px;
  margin:7px 0 0 5px;
  padding:0;
  text-align:center;
  text-decoration:none;
  width:55px;
}

#projectsPanel h3
{
  color:#005b7f;
  float:left;
  font-family:Arial;
  font-size:11px;
  font-weight:700;
  line-height:16px;
  margin:5px 0 0;
  padding:0;
  width:224px;
}

#quots
{
  background:url(images/quots.jpg) no-repeat;
  float:right;
  height:73px;
  margin:61px 0 0;
  padding:0 30px;
  text-indent:-9999px;
  width:290px;
}

#rigtPanel
{
  float:right;
  margin:0;
  padding:0 0 0 35px;
  width:218px;
}

#rigtPanel .contacts
{
  float:left;
  margin:16px 0 0;
  padding:0;
  width:200px;
}

#rigtPanel .contacts a
{
  background:#FFF;
  border:#bdbcbd solid 1px;
  color:#000;
  float:left;
  font-family:Arial;
  font-size:10px;
  height:16px;
  line-height:14px;
  margin:10px 0 0 5px;
  padding:0;
  text-align:center;
  text-decoration:none;
  width:55px;
}

#rigtPanel .contacts a:hover
{
  background:#ccc;
}

#rigtPanel .contacts h2
{
  color:#000;
  float:left;
  font-family:Georgia;
  font-size:20px;
  font-weight:400;
  line-height:24px;
  margin:0;
  padding:0 0 3px;
  width:200px;
}

#rigtPanel .contacts input
{
  background:#f3efc0;
  border:0;
  color:#363636;
  float:left;
  font-family:Arial;
  font-size:10px;
  height:17px;
  margin:7px 0 0;
  padding:3px 0 0 9px;
  width:191px;
}

#rigtPanel .contacts textarea
{
  background:#f3efc0;
  border:0;
  color:#363636;
  float:left;
  font-family:Arial;
  font-size:10px;
  height:58px;
  margin:7px 0 0;
  padding:3px 0 0 9px;
  width:191px;
}

#rigtPanel .services
{
  float:left;
  margin:0;
  padding:0;
  width:218px;
}

#rigtPanel .services h2
{
  color:#000;
  float:left;
  font-family:Georgia;
  font-size:20px;
  font-weight:400;
  line-height:24px;
  margin:0;
  padding:0;
  width:218px;
}

#rigtPanel .services ul
{
  display:block;
  float:left;
  margin:23px 0 0;
  padding:0;
  width:218px;
}

#rigtPanel .services ul li
{
  display:block;
  float:left;
  margin:0;
  padding:0 0 23px;
  width:218px;
}

#rigtPanel .services ul li .author
{
  background:#fefde7 url(images/author.jpg) no-repeat 10px 0;
  color:#343434;
  float:left;
  font-family:Arial;
  font-size:11px;
  height:21px;
  line-height:20px;
  margin:14px 0 0;
  padding:0 0 0 32px;
  width:186px;
}

#rigtPanel .services ul li .author span
{
  font-weight:700;
}

#rigtPanel .services ul li .cal
{
  background:url(images/calendar.jpg) no-repeat;
  color:#3bb000;
  float:left;
  font-family:Arial;
  font-size:20px;
  height:44px;
  line-height:24px;
  margin:0;
  padding:15px 0 0;
  text-align:center;
  width:45px;
}

#rigtPanel .services ul li .cal span
{
  color:#FFF;
  float:left;
  font-family:Arial;
  font-size:11px;
  font-weight:700;
  margin:0;
  padding:0;
  text-align:center;
  width:45px;
}

#rigtPanel .services ul li a
{
  color:#c46706;
  float:left;
  font-family:Arial;
  font-size:11px;
  font-weight:700;
  line-height:15px;
  margin:14px 0 0;
  padding:0;
  width:218px;
}

#rigtPanel .services ul li a:hover
{
  text-decoration:none;
}

#rigtPanel .services ul li h2
{
  color:#4f790a;
  float:left;
  font-family:Arial;
  font-size:12px;
  font-weight:700;
  line-height:16px;
  margin:0;
  padding:0 0 0 7px;
  width:164px;
}

#rigtPanel .services ul li p
{
  background:url(images/star.jpg) no-repeat 7px 0;
  color:#252525;
  float:left;
  font-family:Arial;
  font-size:12px;
  line-height:16px;
  margin:5px 0 0;
  padding:0 0 0 7px;
  text-indent:20px;
  width:165px;
}

#validation
{
  float:left;
  margin:10px 0 0;
  padding:0;
  width:934px;
}

#validation ul
{
  display:block;
  margin:0 auto;
  padding:0;
  width:143px;
}

#validation ul li .blank
{
  float:left;
  height:10px;
  margin:0;
  padding:0;
  width:7px;
}

#validation ul li a
{
  background:url(images/validationBg.jpg) no-repeat;
  color:#100703;
  float:left;
  font-family:Arial;
  font-size:11px;
  font-weight:700;
  height:23px;
  line-height:23px;
  margin:0;
  padding:0 3px 0 0;
  text-align:center;
  text-decoration:none;
  width:64px;
}

body
{
  background:#00ac69;
  margin:0;
  padding:0;
}

h1,#page-content
{
  text-align:justify;
  width:100%;
  word-wrap:break-word;
}