#menuEditor{
	position:absolute;
	top: 45%;
	width: 10%;
	max-height: 90%;
	background: #ffffff;
	border: 5px solid #000;
	padding: 20px;
	padding-top: 10px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 900;
}
#menuEditor table th
{
	vertical-align: top;
}
#menuItemsEditor{
	position:absolute;
	top: 25%;
	width: 25%;
	max-height: 90%;
	background: #ffffff;
	border: 5px solid #000;
	padding: 20px;
	padding-top: 10px;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	z-index: 900;
}